
body{
    margin: 0;
    padding: 0;
    background: white;
}
.navbar{
    position: fixed;
    width: 100%;
}
nav{
    width: 100%;
    background: #000000;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
li{
    float: left;

}
nav a{
    width: 100px;
    padding: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
    
}
nav a:hover{
    background: rgba(250, 0, 0, 0.719);
}
.heading{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: serif;
    text-shadow: 2px 2px 4px red;
    
}
.sub-heading{
    color:white;
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 47.6px;
    font-family:serif;
    text-shadow: 2px 2px 4px red;
}


.button{
  position: absolute;
 bottom: 18%;
  left: 43%;
}

.heading1{
    color: #333333;
    font-size: 42px;
    text-align: center;
    font-family: Roboto, sans-serif;
}
h3{
    color: #333333;
    font-size: 30px;
    text-align: center;
    font-family: Roboto, sans-serif;
}
.container1{
    padding-top: 50px;
    background-color: #E2E2E2;
    color: #8A8A8A;
    padding-bottom: 100px;
}
.mini-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 600px;
    grid-auto-rows: 560px;
    padding-top: 20px;
    
}
.box1{
    
    background-color: #ffffff;
    border: 3px black;
    box-shadow: #000000;
    border-radius: 5px;
    width: 450px;
    margin-left: 200px;
    overflow: hidden;
}
.heading2,.heading4{
    text-align: center;
    color: #333333;
    font-family: serif;
    font-size: 35px;
}
.heading3,.heading5{
    text-align: center;
    color: #333333;
    font-family: serif;
    font-size: 28px;
}
.box2{
    background-color:#ffffff ;
    border: 3px black;
    border-radius: 5px;
    width: 450px;
    box-shadow: #000000;
}
.button1{
    background-color: #2765DB;
    padding: 15px 45px;
    font-size: 15px;
    font-family: serif;
    color: #ffffff;
    border: none;
 cursor: pointer;
 border-radius: 30px 30px 30px 30px;
 margin-left: 110px;
}
.button1:hover{
    background-color: #539bde;
}
.head{
    color: #333333;
    font-size: 42px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

 .dabba1{ padding-top: 50px;
    padding-bottom: 100px;
    background-color: #ffffff;
 }
 .chotadabba1{ display: grid;
    grid-template-columns: 100px 100px ;
    grid-auto-rows: 540px;
    padding-top: 50px;
 }
.box69{ 
    border: 3px black;
    border-radius: 5px;
    width: 800px;
    box-shadow: #000000;

}
.box96{  
    border: 3px black;
    border-radius: 5px;
    width: 715px;
    box-shadow: #000000;
    margin-left: 700px;
}
.h22{
    text-align: center;
    color: #333333;
    font-family: serif;
    font-size: 40px;
    padding-top: 150px;
}
.h211{text-align: center;
    color: #333333;
    font-family: serif;
    font-size: 25px;

}
.box966{
    border: 3px black;
    border-radius: 5px;
    width: 800px;
    box-shadow: #000000;
}
.box669{
    border: 3px black;
    border-radius: 5px;
    width: 800px;
    box-shadow: #000000;
    margin-left: 700px;
}
.b2{position: absolute;
    background-color: #2765DB;
    padding: 15px 45px;
    font-size: 15px;
    font-family: serif;
    color: #ffffff;
    border: none;
 cursor: pointer;
 border-radius: 30px 30px 30px 30px;
     left: 70%;
     top: 356%;
  }
   .b2:hover{
    background-color: #539bde;
   }
   .b21{position: absolute;
    background-color: #2765DB;
    padding: 15px 45px;
    font-size: 15px;
    font-family: serif;
    color: #ffffff;
    border: none;
 cursor: pointer;
 border-radius: 30px 30px 30px 30px;
    left: 20%;
    top: 436%;
   }
   .b21:hover{
    background-color: #539bde;
   }
   .dabba{
    padding-bottom: 100px;
   }
   .chotadabba{
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-auto-rows: 540px;
    padding-top: 50px;
    grid-gap: 19.7%;
   }
   .boxi1{ border: 3px black;
    border-radius: 5px;
    width: 400px;
    box-shadow: #000000;
   }
   .boxi2{
    border: 3px black;
    border-radius: 5px;
    width: 1100px;
    box-shadow: #000000;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-auto-rows: 260px;
   }
   .h44{
    color: #fd5200;
    font-family: serif;
font-size: 14px;
padding-left: 40px;
   }
   .h441{
    color: #333333;
    font-family: serif;
font-size: 30px;
padding-left: 40px;
   }
   .help{
       background-color: #2765DB;
       padding: 15px 45px;
       font-size: 15px;
       font-family: serif;
       color: #ffffff;
       border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    margin-left: 38px;
   }
   .help:hover{
       background-color: #539bde;
   }
   .zox{
       background-color: blue;
       overflow: hidden;
   }
   .DONATE{
      position: absolute;
      left: 40%;
      top: 485%;
      font-size: 15px;
    letter-spacing: 1.8px;
    fill: #ffffff;
    color: #ffffff;
    background-color: rgba(0,0,0,0.21);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255,255,255,0.5);
    border-radius: 30px 30px 30px 30px;
    padding: 15px 25px 15px 25px;
    font-family: sans-serif;
    cursor: pointer;
   }
   .DONATE:hover{
    color: #ffffff;
    background-color: #2765db;
    border-color: #2765db;
   }
   .fund{
       position: absolute;
       right: 14%;
       top: 485%;
       font-size: 15px;
       letter-spacing: 1.8px;
       fill: #ffffff;
       color: #ffffff;
       background-color: rgba(0,0,0,0.21);
       border-style: solid;
       border-width: 1px 1px 1px 1px;
       border-color: rgba(255,255,255,0.5);
       border-radius: 30px 30px 30px 30px;
       padding: 15px 25px 15px 25px;
       font-family: sans-serif;
       cursor: pointer;
   }
.fund:hover{
    color: #ffffff;
    background-color: #2765db;
    border-color: #2765db;
}
.vol{
    position: absolute;
    left: 38%;
    top: 525%;
    font-size: 15px;
       letter-spacing: 1.8px;
       fill: #ffffff;
       color: #ffffff;
       background-color: rgba(0,0,0,0.21);
       border-style: solid;
       border-width: 1px 1px 1px 1px;
       border-color: rgba(255,255,255,0.5);
       border-radius: 30px 30px 30px 30px;
       padding: 15px 25px 15px 25px;
       font-family: sans-serif;
       cursor: pointer;
}
.vol:hover{
    color: #ffffff;
    background-color: #2765db;
    border-color: #2765db;
}
.sup{
    position: absolute;
    right: 13%;
    top: 525%;
    font-size: 15px;
       letter-spacing: 1.8px;
       fill: #ffffff;
       color: #ffffff;
       background-color: rgba(0,0,0,0.21);
       border-style: solid;
       border-width: 1px 1px 1px 1px;
       border-color: rgba(255,255,255,0.5);
       border-radius: 30px 30px 30px 30px;
       padding: 15px 25px 15px 25px;
       font-family: sans-serif;
       cursor: pointer;
}
.sup:hover{
    color: #ffffff;
    background-color: #2765db;
    border-color: #2765db;
}
.get{
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-gap: 750px;
    grid-auto-rows: 160px;
padding-bottom: 150px;
}
.address{
    background-color: #1bb4b9;
    width: 600px;
    margin-left: 200px;
}
.contact{
    background-color: #f5b120;
    width: 600px;
}
.fas{color: white;
    margin-left: 30px;
    margin-top: 70px;
}
.ad{
    position: absolute;
    margin-left: 100px;
    top: 577%;
    color: white;
}
footer{
    background-color: #333;
    overflow: hidden;
}
.footera{
    text-align: center;
    color: white;
    font-size: 15px;
}